<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>RG Only technology</title>


  <!-- Bootstrap / CSS -->
<link th:href="@{/styles/bootstrap/css/bootstrap.min.css}"
	rel="stylesheet">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">

<!-- Custom styles for this template -->
<link th:href="@{/css/features.css}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
	
	<div th:include="usuario/templateUsuario.html::header" th:if="${sesionId==null}"></div>
	
	<div th:include="usuario/templateUsuario.html::header-user" th:unless="${sesionId==null}"></div>

    <!-- Page Content -->
    <div class="container">


      <h1 class="mt-4 mb-3">
        RG Only technology <small>Producto</small>
      </h1>

      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active">Producto</li>
      </ol>

      
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
              <a href="#"> <img class="img-fluid rounded"
                th:src="@{/imagenes/{img} (img=${producto.imagen})}"  alt="">
              </a>
            </div>
            <div class="col-lg-6">
              <form th:action="@{/cart}" method="POST">
              	<input type="hidden" th:value="${producto.id}" name="id">
                <h2 class="card-title" th:text="${producto.nombre}"></h2>

                <ul class="list-group">
                  <li class="list-group-item"><h5 th:text="'Precio: ' + ${producto.precio}"></h5></li>
                  <li class="list-group-item">
                    <p th:text="'Descripcion: ' + ${producto.descripcion}"></p>
                  </li>
                  <li class="list-group-item"><h6>
                    Cantidad: <input type="number" id="cantidad" name="cantidad" autocomplete="off"
                    min="1" max="10" value="1">
                  </h6></li>
                </ul>


                <button type="submit"  class="btn btn-dark">Añadir al carrito </button>

              </form>
            </div>
          </div>
        </div>
      </div>


    </div>

    <!-- Footer -->
	
	<div th:include="usuario/templateUsuario.html::footer"></div>


	<!-- Bootstrap core JavaScript -->
	<script th:src="@{/styles/jquery/jquery.min.js}"></script>
	<script th:src="@{/styles/bootstrap/js/bootstrap.bundle.min.js}"></script>

  </body>

  </html>
